USE [master]
GO
/****** Object:  Database [ExamModule]    Script Date: 8/18/2021 4:58:21 PM ******/
CREATE DATABASE [ExamModule]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamModule', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ExamModule.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamModule_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ExamModule_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamModule].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamModule]
GO
/****** Object:  Table [dbo].[TBL_Admin]    Script Date: 8/18/2021 4:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Admin](
	[Admin_ID] [int] IDENTITY(1,1) NOT NULL,
	[Admin_Key] [varchar](50) NOT NULL,
	[Admin_Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_Admin] PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Class]    Script Date: 8/18/2021 4:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Class](
	[Class_ID] [int] IDENTITY(1,1) NOT NULL,
	[Class_Name] [varchar](max) NULL,
 CONSTRAINT [PK_TBL_Class] PRIMARY KEY CLUSTERED 
(
	[Class_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DESQAnswer]    Script Date: 8/18/2021 4:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DESQAnswer](
	[Schedule_ID] [int] NOT NULL,
	[Stud_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[Answer] [varchar](max) NOT NULL,
	[Remarks] [varchar](max) NULL,
	[Marking] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DESQNA]    Script Date: 8/18/2021 4:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DESQNA](
	[Question_ID] [int] IDENTITY(1,1) NOT NULL,
	[Schedule_ID] [int] NOT NULL,
	[Question] [varchar](max) NOT NULL,
	[Marking] [int] NULL,
 CONSTRAINT [PK_TBL_DESQNA] PRIMARY KEY CLUSTERED 
(
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Faculty]    Script Date: 8/18/2021 4:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Faculty](
	[Faculty_Name] [text] NOT NULL,
	[Email_ID] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Subject_ID] [int] NOT NULL,
	[Class_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MCQAnswer]    Script Date: 8/18/2021 4:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MCQAnswer](
	[Schedule_ID] [int] NOT NULL,
	[Stud_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[Answer] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MCQNA]    Script Date: 8/18/2021 4:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MCQNA](
	[Question_ID] [int] IDENTITY(1,1) NOT NULL,
	[Schedule_ID] [int] NOT NULL,
	[Question] [varchar](max) NOT NULL,
	[Option_A] [varchar](50) NOT NULL,
	[Option_B] [varchar](50) NOT NULL,
	[Option_C] [varchar](50) NOT NULL,
	[Option_D] [varchar](50) NOT NULL,
	[Correct_Option] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_MCQNA] PRIMARY KEY CLUSTERED 
(
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Result]    Script Date: 8/18/2021 4:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Result](
	[Result_ID] [int] IDENTITY(1,1) NOT NULL,
	[Stud_ID] [int] NOT NULL,
	[Sch_ID] [int] NOT NULL,
	[Marks_Obtained] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_TBL_Result] PRIMARY KEY CLUSTERED 
(
	[Result_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Schedule]    Script Date: 8/18/2021 4:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Schedule](
	[Schedule_ID] [int] IDENTITY(1,1) NOT NULL,
	[Class_ID] [int] NOT NULL,
	[Subject_ID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Start_Time] [time](0) NOT NULL,
	[End_Time] [time](0) NOT NULL,
	[Exam_Type] [text] NOT NULL,
	[Start_Limit] [int] NOT NULL,
 CONSTRAINT [PK_TBL_Schedule] PRIMARY KEY CLUSTERED 
(
	[Schedule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Student]    Script Date: 8/18/2021 4:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Student](
	[Stud_ID] [int] IDENTITY(1,1) NOT NULL,
	[Stud_Name] [varchar](max) NULL,
	[Email_ID] [varchar](50) NOT NULL,
	[Passsword] [varchar](50) NOT NULL,
	[Class_ID] [int] NOT NULL,
	[Enrollment] [varchar](50) NOT NULL,
	[Seat_No] [int] NOT NULL,
 CONSTRAINT [PK_TBL_Student] PRIMARY KEY CLUSTERED 
(
	[Stud_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Subject]    Script Date: 8/18/2021 4:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Subject](
	[Subject_ID] [int] IDENTITY(1,1) NOT NULL,
	[Subject_Name] [varchar](max) NULL,
	[Class_ID] [int] NOT NULL,
 CONSTRAINT [PK_TBL_Subject] PRIMARY KEY CLUSTERED 
(
	[Subject_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Class] ON 

INSERT [dbo].[TBL_Class] ([Class_ID], [Class_Name]) VALUES (1, N'FYCS Sem 1')
INSERT [dbo].[TBL_Class] ([Class_ID], [Class_Name]) VALUES (2, N'FYCS Sem 2')
INSERT [dbo].[TBL_Class] ([Class_ID], [Class_Name]) VALUES (3, N'SYCS Sem 3')
SET IDENTITY_INSERT [dbo].[TBL_Class] OFF
GO
INSERT [dbo].[TBL_DESQAnswer] ([Schedule_ID], [Stud_ID], [Question_ID], [Answer], [Remarks], [Marking]) VALUES (4, 1, 7, N'Not Attempted', N'None', 0)
INSERT [dbo].[TBL_DESQAnswer] ([Schedule_ID], [Stud_ID], [Question_ID], [Answer], [Remarks], [Marking]) VALUES (4, 1, 4, N'Not Attempted', N'None', 0)
INSERT [dbo].[TBL_DESQAnswer] ([Schedule_ID], [Stud_ID], [Question_ID], [Answer], [Remarks], [Marking]) VALUES (4, 1, 5, N'Not Attempted', N'None', 0)
GO
SET IDENTITY_INSERT [dbo].[TBL_DESQNA] ON 

INSERT [dbo].[TBL_DESQNA] ([Question_ID], [Schedule_ID], [Question], [Marking]) VALUES (3, 4, N'What is the main difference between a computer program and computer software?', 5)
INSERT [dbo].[TBL_DESQNA] ([Question_ID], [Schedule_ID], [Question], [Marking]) VALUES (4, 4, N' What is software re-engineering?', 3)
INSERT [dbo].[TBL_DESQNA] ([Question_ID], [Schedule_ID], [Question], [Marking]) VALUES (5, 4, N'What is verification ?', 2)
SET IDENTITY_INSERT [dbo].[TBL_DESQNA] OFF
GO
INSERT [dbo].[TBL_Faculty] ([Faculty_Name], [Email_ID], [Password], [Subject_ID], [Class_ID]) VALUES (N'Generic', N'generosity@gmail.com', N'Generic@123', 1, 6)
INSERT [dbo].[TBL_Faculty] ([Faculty_Name], [Email_ID], [Password], [Subject_ID], [Class_ID]) VALUES (N'Generic2', N'generosity2@gmail.com', N'Generic@456', 2, 6)
GO
INSERT [dbo].[TBL_MCQAnswer] ([Schedule_ID], [Stud_ID], [Question_ID], [Answer]) VALUES (2, 1, 6, N'Increasing Supply')
INSERT [dbo].[TBL_MCQAnswer] ([Schedule_ID], [Stud_ID], [Question_ID], [Answer]) VALUES (2, 1, 7, N'Software Dependence')
INSERT [dbo].[TBL_MCQAnswer] ([Schedule_ID], [Stud_ID], [Question_ID], [Answer]) VALUES (2, 1, 5, N'Software Maintainability & Functionality')
GO
SET IDENTITY_INSERT [dbo].[TBL_MCQNA] ON 

INSERT [dbo].[TBL_MCQNA] ([Question_ID], [Schedule_ID], [Question], [Option_A], [Option_B], [Option_C], [Option_D], [Correct_Option]) VALUES (2, 2, N'What is SE ?', N'Soft Emissions', N'Software Electronics', N'Smart Engine', N'Software Engineering', N'Software Engineering')
INSERT [dbo].[TBL_MCQNA] ([Question_ID], [Schedule_ID], [Question], [Option_A], [Option_B], [Option_C], [Option_D], [Correct_Option]) VALUES (3, 2, N'Why use SE ?', N'Better Developement', N'Reliable Software', N'All Mentioned Options', N'Better Security', N'All Mentioned Options')
INSERT [dbo].[TBL_MCQNA] ([Question_ID], [Schedule_ID], [Question], [Option_A], [Option_B], [Option_C], [Option_D], [Correct_Option]) VALUES (4, 2, N'Efficiency in a software product does not include ____________________?', N'Responsiveness', N'Licensing', N'Memory Utilization', N'Processing Time', N'Licensing')
SET IDENTITY_INSERT [dbo].[TBL_MCQNA] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Result] ON 

INSERT [dbo].[TBL_Result] ([Result_ID], [Stud_ID], [Sch_ID], [Marks_Obtained]) VALUES (1, 1, 2, CAST(12.00 AS Decimal(5, 2)))
INSERT [dbo].[TBL_Result] ([Result_ID], [Stud_ID], [Sch_ID], [Marks_Obtained]) VALUES (2, 1, 4, CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[TBL_Result] ([Result_ID], [Stud_ID], [Sch_ID], [Marks_Obtained]) VALUES (1002, 1, 7, CAST(-3.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[TBL_Result] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Schedule] ON 

INSERT [dbo].[TBL_Schedule] ([Schedule_ID], [Class_ID], [Subject_ID], [Date], [Start_Time], [End_Time], [Exam_Type], [Start_Limit]) VALUES (2, 6, 1, CAST(N'2021-06-21' AS Date), CAST(N'11:00:00' AS Time), CAST(N'16:49:00' AS Time), N'MCQ', 2000)
INSERT [dbo].[TBL_Schedule] ([Schedule_ID], [Class_ID], [Subject_ID], [Date], [Start_Time], [End_Time], [Exam_Type], [Start_Limit]) VALUES (4, 6, 1, CAST(N'2021-06-21' AS Date), CAST(N'11:20:00' AS Time), CAST(N'16:33:00' AS Time), N'Descriptive', 2000)
INSERT [dbo].[TBL_Schedule] ([Schedule_ID], [Class_ID], [Subject_ID], [Date], [Start_Time], [End_Time], [Exam_Type], [Start_Limit]) VALUES (7, 6, 2, CAST(N'2021-06-24' AS Date), CAST(N'11:25:00' AS Time), CAST(N'16:07:00' AS Time), N'MCQ', 2000)
SET IDENTITY_INSERT [dbo].[TBL_Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Student] ON 

INSERT [dbo].[TBL_Student] ([Stud_ID], [Stud_Name], [Email_ID], [Passsword], [Class_ID], [Enrollment], [Seat_No]) VALUES (1, N'Gurudatta Safai', N'GurudattaSafai@gmail.com', N'Guru@123', 6, N'E1811192000310085', 20120)
INSERT [dbo].[TBL_Student] ([Stud_ID], [Stud_Name], [Email_ID], [Passsword], [Class_ID], [Enrollment], [Seat_No]) VALUES (2, N'Nilesh Patil', N'Nillpatil@gmail.com', N'Nill@123', 6, N'E1811192000310074', 20121)
INSERT [dbo].[TBL_Student] ([Stud_ID], [Stud_Name], [Email_ID], [Passsword], [Class_ID], [Enrollment], [Seat_No]) VALUES (1003, N'Mayur Patil', N'mpatil9@gmail.com', N'MP@DJ12', 6, N'E1811192000310073', 20122)
SET IDENTITY_INSERT [dbo].[TBL_Student] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Subject] ON 

INSERT [dbo].[TBL_Subject] ([Subject_ID], [Subject_Name], [Class_ID]) VALUES (1, N'Software Engineering - I', 6)
INSERT [dbo].[TBL_Subject] ([Subject_ID], [Subject_Name], [Class_ID]) VALUES (2, N'Computer Networking', 6)
SET IDENTITY_INSERT [dbo].[TBL_Subject] OFF
GO
ALTER TABLE [dbo].[TBL_DESQAnswer]  WITH CHECK ADD  CONSTRAINT [FK_DESQAnswer_TBL_DESQNA] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[TBL_DESQNA] ([Question_ID])
GO
ALTER TABLE [dbo].[TBL_DESQAnswer] CHECK CONSTRAINT [FK_DESQAnswer_TBL_DESQNA]
GO
ALTER TABLE [dbo].[TBL_DESQAnswer]  WITH CHECK ADD  CONSTRAINT [FK_DESQAnswer_TBL_Schedule] FOREIGN KEY([Schedule_ID])
REFERENCES [dbo].[TBL_Schedule] ([Schedule_ID])
GO
ALTER TABLE [dbo].[TBL_DESQAnswer] CHECK CONSTRAINT [FK_DESQAnswer_TBL_Schedule]
GO
ALTER TABLE [dbo].[TBL_DESQAnswer]  WITH CHECK ADD  CONSTRAINT [FK_DESQAnswer_TBL_Student] FOREIGN KEY([Stud_ID])
REFERENCES [dbo].[TBL_Student] ([Stud_ID])
GO
ALTER TABLE [dbo].[TBL_DESQAnswer] CHECK CONSTRAINT [FK_DESQAnswer_TBL_Student]
GO
ALTER TABLE [dbo].[TBL_DESQNA]  WITH CHECK ADD  CONSTRAINT [FK_DESQNA_Schedule] FOREIGN KEY([Schedule_ID])
REFERENCES [dbo].[TBL_Schedule] ([Schedule_ID])
GO
ALTER TABLE [dbo].[TBL_DESQNA] CHECK CONSTRAINT [FK_DESQNA_Schedule]
GO
ALTER TABLE [dbo].[TBL_Faculty]  WITH CHECK ADD  CONSTRAINT [FK_Faculty_Class] FOREIGN KEY([Class_ID])
REFERENCES [dbo].[TBL_Class] ([Class_ID])
GO
ALTER TABLE [dbo].[TBL_Faculty] CHECK CONSTRAINT [FK_Faculty_Class]
GO
ALTER TABLE [dbo].[TBL_Faculty]  WITH CHECK ADD  CONSTRAINT [FK_Faculty_Subject] FOREIGN KEY([Subject_ID])
REFERENCES [dbo].[TBL_Subject] ([Subject_ID])
GO
ALTER TABLE [dbo].[TBL_Faculty] CHECK CONSTRAINT [FK_Faculty_Subject]
GO
ALTER TABLE [dbo].[TBL_MCQAnswer]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MCQAnswer_TBL_MCQNA] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[TBL_MCQNA] ([Question_ID])
GO
ALTER TABLE [dbo].[TBL_MCQAnswer] CHECK CONSTRAINT [FK_TBL_MCQAnswer_TBL_MCQNA]
GO
ALTER TABLE [dbo].[TBL_MCQAnswer]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MCQAnswer_TBL_Schedule] FOREIGN KEY([Schedule_ID])
REFERENCES [dbo].[TBL_Schedule] ([Schedule_ID])
GO
ALTER TABLE [dbo].[TBL_MCQAnswer] CHECK CONSTRAINT [FK_TBL_MCQAnswer_TBL_Schedule]
GO
ALTER TABLE [dbo].[TBL_MCQAnswer]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MCQAnswer_TBL_Student] FOREIGN KEY([Stud_ID])
REFERENCES [dbo].[TBL_Student] ([Stud_ID])
GO
ALTER TABLE [dbo].[TBL_MCQAnswer] CHECK CONSTRAINT [FK_TBL_MCQAnswer_TBL_Student]
GO
ALTER TABLE [dbo].[TBL_MCQNA]  WITH CHECK ADD  CONSTRAINT [FK_MCQNA_Schedule] FOREIGN KEY([Schedule_ID])
REFERENCES [dbo].[TBL_Schedule] ([Schedule_ID])
GO
ALTER TABLE [dbo].[TBL_MCQNA] CHECK CONSTRAINT [FK_MCQNA_Schedule]
GO
ALTER TABLE [dbo].[TBL_Result]  WITH CHECK ADD  CONSTRAINT [FK_TBL_Result_TBL_Schedule] FOREIGN KEY([Sch_ID])
REFERENCES [dbo].[TBL_Schedule] ([Schedule_ID])
GO
ALTER TABLE [dbo].[TBL_Result] CHECK CONSTRAINT [FK_TBL_Result_TBL_Schedule]
GO
ALTER TABLE [dbo].[TBL_Result]  WITH CHECK ADD  CONSTRAINT [FK_TBL_Result_TBL_Student] FOREIGN KEY([Stud_ID])
REFERENCES [dbo].[TBL_Student] ([Stud_ID])
GO
ALTER TABLE [dbo].[TBL_Result] CHECK CONSTRAINT [FK_TBL_Result_TBL_Student]
GO
ALTER TABLE [dbo].[TBL_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_TBL_Schedule_TBL_Class] FOREIGN KEY([Class_ID])
REFERENCES [dbo].[TBL_Class] ([Class_ID])
GO
ALTER TABLE [dbo].[TBL_Schedule] CHECK CONSTRAINT [FK_TBL_Schedule_TBL_Class]
GO
ALTER TABLE [dbo].[TBL_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_TBL_Schedule_TBL_Subject] FOREIGN KEY([Subject_ID])
REFERENCES [dbo].[TBL_Subject] ([Subject_ID])
GO
ALTER TABLE [dbo].[TBL_Schedule] CHECK CONSTRAINT [FK_TBL_Schedule_TBL_Subject]
GO
ALTER TABLE [dbo].[TBL_Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class] FOREIGN KEY([Class_ID])
REFERENCES [dbo].[TBL_Class] ([Class_ID])
GO
ALTER TABLE [dbo].[TBL_Student] CHECK CONSTRAINT [FK_Student_Class]
GO
ALTER TABLE [dbo].[TBL_Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Class] FOREIGN KEY([Class_ID])
REFERENCES [dbo].[TBL_Class] ([Class_ID])
GO
ALTER TABLE [dbo].[TBL_Subject] CHECK CONSTRAINT [FK_Subject_Class]
GO
USE [master]
GO
